.project-page h1  {
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -0.022em;
    margin-bottom: 60px;
}

.project-page h2  {
    margin-bottom: 14px;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: -0.022em;
    color: gray;
}

.bread-crumbs a {
    margin-bottom: 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;

    background: linear-gradient(180deg, #55D1FA -90.72%, #363AD1 187.45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: inherit;
    text-fill-color: transparent;
}

.project-desc__text {
    font-weight: 300;
    font-size: 32px;
    line-height: 150%;
    /* or 48px */

    letter-spacing: -0.022em;

    color: #B4B4B4;
}

.project-start__image {
    text-align: center;
}

.project-start__image img {
    display: inline-block;
    object-fit: contain;
    max-width: 601px;
    height: 305px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    filter: drop-shadow(0px 4px 4px #1C1E22);
}

.project-start__bottom {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 150px;
    justify-content: center;
}

.project-start__bottom img {

}

.project-similar {
    margin-bottom: 50px;
}