.auth-wrapper {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.auth-title {
    text-align: center;
    margin-bottom: 30px;
}

.auth-label {
    display: block;
    margin-bottom: 20px;
}

.auth-label span {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

.auth-label input {
    width: calc(100% - 20px);
    padding: 0 10px;
}

.auth-wrapper button {
    width: 100%;
    margin: 40px auto 20px;
    font-size: 14px;
    height: 40px;
}

.auth-bottom {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.auth-bottom a {
    display: inline-block;
    transition: background-image 0.3s ease-in-out;
}

.auth-bottom a:hover {
    background: linear-gradient(180deg, #58E1FF 0%, #3431CE 205.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}