{% extends "blog/base.html" %}

{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | Game#Pop_It Coloring</title>
    <link rel="shortcut icon" href="{% static project_1 %}">
    <link rel="stylesheet" href="{% static project_2 %}">
    <script src="{% static project_3 %}"></script>
    <script src="{% static project_4 %}"></script>
    <script>
      var unityInstance = UnityLoader.instantiate("unityContainer", "{% static project_5 %}", {onProgress: UnityProgress});
    </script>
  </head>
  <body style="padding-top: 300px; ">

  <script>
          var buildUrl = "../static/unity/Build";
          var loaderUrl = buildUrl + "/Unity App.loader.js";

        </script>
    <div class="webgl-content">
      <div id="unityContainer" style="width: 667px; height: 375px"></div>
      <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="unityInstance.SetFullscreen(1)"></div>
        <div class="title">Game#Pop_It Coloring</div>
      </div>
    </div>
  </body>
</html>
{% endblock %}