.title-popular {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 26px;
    color: #FFFFFF;
}
.slider {
    position: relative;
}
.swiper-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slider > .swiper {
    height: 330px;
    padding: 0 40px;
    padding-bottom: 30px;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;

    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 10;
}

.swiper-pagination-bullet {
    background-color: var(--white-color) !important;
    transition: opacity 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
    opacity: 0.45;
}

.swiper-button-next::after, .swiper-button-prev::after {
    content: '';
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: url("../../assets/images/slider-arrow.svg");
    background-size: contain;
}

.swiper-button-prev {
    left: 50px;
}

.swiper-button-next {
    left: auto;
    right: 50px;
}

.swiper-button-next::after {
    transform: rotate(180deg);
}


.swiper-slide {
    height: 110px !important;
    position: relative;
    background-color: #3431CE;
    transition: transform 0.3s ease-in-out;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
}

.swiper-slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.swiper-wrapper {
    align-items: center;
    height: 100%;
}

.swiper-slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.swiper-slide:not(.swiper-slide-active)::after {
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(45, 45, 45, 0.7), rgba(45, 45, 45, 0.7));
}

.swiper-slide.swiper-slide-active {
    background-color: #fff;
    transform: scale(2.8) !important;
    z-index: 2;

}

.swiper-slide.swiper-slide-prev {
    transform: scale(2) !important;
    transition: none !important;
}

.swiper-slide.swiper-slide-next {
    transform: scale(2) !important;
    transition: none !important;
}