.container {
    display: flex;
    align-items: center;
    padding: 11px 98px 11px 118px;
    margin-bottom: 53px;
    background-color: #2D2D2D;
}

.container__logo {
    margin-right: 106px;
}

.container__list {
    display: flex;
    list-style: none;
    margin-right: 106px;
    margin-top: 0;
    margin-bottom: 0;
}

.container__li:not(:last-child) {
    margin-right: 34px;
}

.container__a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    cursor: pointer;
}

.profile {
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.profile__span {
    margin-right: 11px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: right;

    color: #FFFFFF;
    cursor: pointer;
}

