.cardWrapper {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: var(--dark-grey-color);
}

.head {
    height: 136px;
    overflow: hidden;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.image {
    max-width: 100%;
    object-fit: cover;
}

.description {
    padding: 12px 17px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "category button"
                         "name button";
}

.category {
    grid-area: category;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 4px;

    color: rgba(255, 255, 255, 0.8);
}

.name {
    grid-area: name;
    font-weight: 600;
    font-size: 12px;
}

.button {
    grid-area: button;
    display: flex;
    align-items: center;
}